
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
  --white: #FFF;
  --black: #23272A;
}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, 
h4, h5, h6 { font-family: 'Luckiest Guy', cursive; }